[submodule "_vim/bundle/fugitive"]
	path = _vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/pathogen"]
	path = _vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "_vim/bundle/jellybeans"]
	path = _vim/bundle/jellybeans
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule "_vim/bundle/nerdcommenter"]
	path = _vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "_vim/bundle/tagbar"]
	path = _vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "_vim/bundle/align"]
	path = _vim/bundle/align
	url = git://github.com/vim-scripts/Align.git
[submodule "_vim/bundle/miro"]
	path = _vim/bundle/miro
	url = git://github.com/xuxiaodong/miro-vim.git
[submodule "_vim/bundle/ctrlp"]
	path = _vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "_vim/bundle/closetag"]
	path = _vim/bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule "_vim/bundle/surround"]
	path = _vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "_vim/bundle/the-nerd-tree"]
	path = _vim/bundle/the-nerd-tree
	url = git://github.com/vim-scripts/The-NERD-tree.git
[submodule "_vim/bundle/sunburst"]
	path = _vim/bundle/sunburst
	url = git://github.com/sickill/vim-sunburst.git
[submodule "_vim/bundle/ruby"]
	path = _vim/bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "_vim/bundle/markdown-helper"]
	path = _vim/bundle/markdown-helper
	url = git://github.com/xuxiaodong/vim-markdown-helper.git
[submodule "_vim/bundle/neverland"]
	path = _vim/bundle/neverland
	url = git://github.com/trapd00r/neverland-vim-theme.git
[submodule "_vim/bundle/slime"]
	path = _vim/bundle/slime
	url = git://github.com/jpalardy/vim-slime.git
[submodule "_vim/bundle/syntastic"]
	path = _vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "_vim/bundle/matchtag"]
	path = _vim/bundle/matchtag
	url = git://github.com/gregsexton/MatchTag.git
[submodule "_vim/bundle/numbers"]
	path = _vim/bundle/numbers
	url = git://github.com/xuxiaodong/numbers.vim.git
[submodule "_vim/bundle/commentary"]
	path = _vim/bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "_vim/bundle/endwise"]
	path = _vim/bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "_vim/bundle/splitjoin"]
	path = _vim/bundle/splitjoin
	url = git://github.com/AndrewRadev/splitjoin.vim.git
[submodule "_vim/bundle/ansiesc"]
	path = _vim/bundle/ansiesc
	url = git://github.com/vim-scripts/AnsiEsc.vim.git
[submodule "_vim/bundle/tomorrow"]
	path = _vim/bundle/tomorrow
	url = git://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "_vim/bundle/color_highlight"]
	path = _vim/bundle/color_highlight
	url = git://github.com/chrisbra/color_highlight.git
[submodule "_vim/bundle/multiple-cursors"]
	path = _vim/bundle/multiple-cursors
	url = git://github.com/terryma/vim-multiple-cursors.git
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "_vim/bundle/gitgutter"]
	path = _vim/bundle/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "_vim/bundle/neocomplcache"]
	path = _vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.vim.git
[submodule "_vim/bundle/tabular"]
	path = _vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "_vim/bundle/matchit"]
	path = _vim/bundle/matchit
	url = git://github.com/edsono/vim-matchit.git
[submodule "_vim/bundle/perl"]
	path = _vim/bundle/perl
	url = git://github.com/vim-perl/vim-perl.git
[submodule "_vim/bundle/ultisnips"]
	path = _vim/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "_vim/bundle/vimux"]
	path = _vim/bundle/vimux
	url = git://github.com/benmills/vimux.git
[submodule "_vim/bundle/kolor"]
	path = _vim/bundle/kolor
	url = git://github.com/zeis/vim-kolor.git
[submodule "_vim/bundle/hybrid"]
	path = _vim/bundle/hybrid
	url = git://github.com/w0ng/vim-hybrid.git
[submodule "_vim/bundle/unite"]
	path = _vim/bundle/unite
	url = git://github.com/Shougo/unite.vim.git
[submodule "_vim/bundle/unite-outline"]
	path = _vim/bundle/unite-outline
	url = git://github.com/h1mesuke/unite-outline.git
[submodule "_vim/bundle/perlhelp"]
	path = _vim/bundle/perlhelp
	url = git://github.com/LStinson/perlhelp-vim.git
[submodule "_vim/bundle/argumentative"]
	path = _vim/bundle/argumentative
	url = git://github.com/PeterRincker/vim-argumentative.git
[submodule "_vim/bundle/nginx-vim-syntax"]
	path = _vim/bundle/nginx-vim-syntax
	url = git://github.com/evanmiller/nginx-vim-syntax.git
[submodule "_vim/bundle/airline"]
	path = _vim/bundle/airline
	url = git://github.com/bling/vim-airline.git
[submodule "_vim/bundle/emmet"]
	path = _vim/bundle/emmet
	url = git://github.com/mattn/emmet-vim.git
[submodule "_vim/bundle/css-color"]
	path = _vim/bundle/css-color
	url = git://github.com/skammer/vim-css-color.git
[submodule "_vim/bundle/gruvbox"]
	path = _vim/bundle/gruvbox
	url = git://github.com/morhetz/gruvbox.git
[submodule "_vim/bundle/airline-themes"]
	path = _vim/bundle/airline-themes
	url = git://github.com/vim-airline/vim-airline-themes.git
[submodule "_vim/bundle/hicterm"]
	path = _vim/bundle/hicterm
	url = git://github.com/sunaku/vim-hicterm.git
[submodule "_vim/bundle/shortcut"]
	path = _vim/bundle/shortcut
	url = git://github.com/sunaku/vim-shortcut.git
[submodule "_vim/bundle/base16"]
	path = _vim/bundle/base16
	url = git://github.com/chriskempson/base16-vim.git
[submodule "_vim/bundle/bubblegum"]
	path = _vim/bundle/bubblegum
	url = git://github.com/baskerville/bubblegum.git
[submodule "_vim/bundle/incsearch"]
	path = _vim/bundle/incsearch
	url = git://github.com/haya14busa/incsearch.vim.git
[submodule "_vim/bundle/easy-align"]
	path = _vim/bundle/easy-align
	url = git://github.com/junegunn/vim-easy-align.git
[submodule "_vim/bundle/easymotion"]
	path = _vim/bundle/easymotion
	url = git://github.com/easymotion/vim-easymotion.git
[submodule "_vim/bundle/sneak"]
	path = _vim/bundle/sneak
	url = git://github.com/justinmk/vim-sneak.git
[submodule "_vim/bundle/indent-guides"]
	path = _vim/bundle/indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "_vim/bundle/indentline"]
	path = _vim/bundle/indentline
	url = git://github.com/Yggdroot/indentLine.git
[submodule "_vim/bundle/rainbow_parentheses"]
	path = _vim/bundle/rainbow_parentheses
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule "_vim/bundle/signature"]
	path = _vim/bundle/signature
	url = git://github.com/kshenoy/vim-signature.git
[submodule "_vim/bundle/startify"]
	path = _vim/bundle/startify
	url = git://github.com/mhinz/vim-startify.git
[submodule "_vim/bundle/extradite"]
	path = _vim/bundle/extradite
	url = git://github.com/int3/vim-extradite.git
[submodule "_vim/bundle/snipmate"]
	path = _vim/bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "_vim/bundle/tlib_vim"]
	path = _vim/bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule "_vim/bundle/addon-mw-utils"]
	path = _vim/bundle/addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "_vim/bundle/snippets"]
	path = _vim/bundle/snippets
	url = git://github.com/honza/vim-snippets.git
[submodule "_vim/bundle/zeavim"]
	path = _vim/bundle/zeavim
	url = git://github.com/KabbAmine/zeavim.vim.git
[submodule "_vim/bundle/dasht"]
	path = _vim/bundle/dasht
	url = git://github.com/sunaku/vim-dasht.git
[submodule "_vim/bundle/deoplete.nvim"]
	path = _vim/bundle/deoplete.nvim
	url = git://github.com/Shougo/deoplete.nvim.git
[submodule "_vim/bundle/neoman"]
	path = _vim/bundle/neoman
	url = git://github.com/nhooyr/neoman.vim.git
[submodule "_vim/bundle/deoplete-jedi"]
	path = _vim/bundle/deoplete-jedi
	url = git://github.com/zchee/deoplete-jedi.git
[submodule "_vim/bundle/vinegar"]
	path = _vim/bundle/vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule "_vim/bundle/vimfiler"]
	path = _vim/bundle/vimfiler
	url = git://github.com/Shougo/vimfiler.vim.git
[submodule "_vim/bundle/ags"]
	path = _vim/bundle/ags
	url = git://github.com/gabesoft/vim-ags.git
[submodule "_vim/bundle/goyo"]
	path = _vim/bundle/goyo
	url = git://github.com/junegunn/goyo.vim.git
[submodule "_vim/bundle/robotframework"]
	path = _vim/bundle/robotframework
	url = git://github.com/mfukar/robotframework-vim.git
[submodule "_vim/bundle/codi"]
	path = _vim/bundle/codi
	url = git://github.com/metakirby5/codi.vim.git
[submodule "_vim/bundle/smartinput"]
	path = _vim/bundle/smartinput
	url = git://github.com/kana/vim-smartinput.git
[submodule "_vim/bundle/gitv"]
	path = _vim/bundle/gitv
	url = git://github.com/gregsexton/gitv.git
