[submodule "_vim/bundle/fugitive"]
	path = _vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/pathogen"]
	path = _vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "_vim/bundle/jellybeans"]
	path = _vim/bundle/jellybeans
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule "_vim/bundle/powerline"]
	path = _vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "_vim/bundle/smartinput"]
	path = _vim/bundle/smartinput
	url = git://github.com/kana/vim-smartinput.git
[submodule "_vim/bundle/nerdcommenter"]
	path = _vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "_vim/bundle/tagbar"]
	path = _vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "_vim/bundle/tabular"]
	path = _vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "_vim/bundle/align"]
	path = _vim/bundle/align
	url = git://github.com/vim-scripts/Align.git
[submodule "_vim/bundle/command-t"]
	path = _vim/bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "_vim/bundle/gist"]
	path = _vim/bundle/gist
	url = git://github.com/mattn/gist-vim.git
[submodule "_vim/bundle/snipmate"]
	path = _vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
