[submodule "_vim/bundle/fugitive"]
	path = _vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/pathogen"]
	path = _vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "_vim/bundle/jellybeans"]
	path = _vim/bundle/jellybeans
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule "_vim/bundle/powerline"]
	path = _vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "_vim/bundle/smartinput"]
	path = _vim/bundle/smartinput
	url = git://github.com/kana/vim-smartinput.git
[submodule "_vim/bundle/nerdcommenter"]
	path = _vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "_vim/bundle/tagbar"]
	path = _vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "_vim/bundle/align"]
	path = _vim/bundle/align
	url = git://github.com/vim-scripts/Align.git
[submodule "_vim/bundle/miro"]
	path = _vim/bundle/miro
	url = git://github.com/xuxiaodong/miro-vim.git
[submodule "_vim/bundle/ctrlp"]
	path = _vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "_vim/bundle/closetag"]
	path = _vim/bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule "_vim/bundle/surround"]
	path = _vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "_vim/bundle/the-nerd-tree"]
	path = _vim/bundle/the-nerd-tree
	url = git://github.com/vim-scripts/The-NERD-tree.git
[submodule "_vim/bundle/sunburst"]
	path = _vim/bundle/sunburst
	url = git://github.com/sickill/vim-sunburst.git
[submodule "_vim/bundle/ruby"]
	path = _vim/bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "_vim/bundle/textobj-rubyblock"]
	path = _vim/bundle/textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "_vim/bundle/textobj-user"]
	path = _vim/bundle/textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "_vim/bundle/matchit"]
	path = _vim/bundle/matchit
	url = git://github.com/mirell/vim-matchit.git
[submodule "_vim/bundle/markdown-helper"]
	path = _vim/bundle/markdown-helper
	url = git://github.com/xuxiaodong/vim-markdown-helper.git
